.DS_Store
.gitattributes
T1mapp.prj
T1mapp/
T1mapp_resources/
backup/
status.md
/tests

# Files that ship as .p (P-coded with -R2022a on 2026-09-15): where a .p exists beside a
# .m, the .p is committed and the .m stays local. Add a file here whenever it is P-coded.
+t1mapp/+fit/applyThreshold.m
+t1mapp/+fit/fitSeries.m
+t1mapp/+fit/fitSlice.m
+t1mapp/+fit/irFit.m
+t1mapp/+fit/mobaIRfit.m
+t1mapp/+fit/referenceIndex.m
+t1mapp/+fit/seriesOf.m
+t1mapp/+fit/signalModel.m
+t1mapp/+fit/srFit.m
+t1mapp/+fit/vfaFit.m
+t1mapp/+io/classifyAcquisition.m
+t1mapp/+io/defaultSettings.m
+t1mapp/+io/exportBidsFcn.m
+t1mapp/+io/exportDicomT1.m
+t1mapp/+io/exportDicomT1dcm.m
+t1mapp/+io/exportGifT1.m
+t1mapp/+io/exportNiftiFcn.m
+t1mapp/+io/makeLogFile.m
+t1mapp/+io/pruneLogFiles.m
+t1mapp/+io/readRPRfile.m
+t1mapp/+io/readSettingsFile.m
+t1mapp/+io/retiredSettings.m
+t1mapp/+io/shapeKspace.m
+t1mapp/+io/sortSegmentedKspace.m
+t1mapp/+io/userFolder.m
+t1mapp/+reco/voxelSizeOf.m
+t1mapp/+reco/mppcaWindow.m
+t1mapp/+reco/mppcaDenoise.m
+t1mapp/+reco/CSreco.m
+t1mapp/+reco/llrBlockSize.m
+t1mapp/+reco/PCAdenoise.m
+t1mapp/+reco/circtukey2D.m
+t1mapp/+reco/circtukey3D.m
+t1mapp/+reco/cropOversampling.m
+t1mapp/+reco/denoiseSeries.m
+t1mapp/+reco/fft2reco.m
+t1mapp/+reco/fft3reco.m
+t1mapp/+reco/fftReco.m
+t1mapp/+reco/ifft2reco.m
+t1mapp/+reco/ifft3reco.m
+t1mapp/+reco/orientImages.m
+t1mapp/+reco/registerImages.m
+t1mapp/+util/bartVersionAtLeast.m
+t1mapp/+util/dicomOrientation.m
+t1mapp/+util/elastixBundle.m
+t1mapp/+util/hex2rgb.m
+t1mapp/+util/imagePosition.m
+t1mapp/+util/lipariColorMap.m
+t1mapp/+util/maskElement.m
+t1mapp/+util/patientPosition.m
+t1mapp/+util/pixelSize.m
+t1mapp/+util/resourcePath.m
+t1mapp/+util/rgb2hex.m
+t1mapp/+util/robustDisplayMax.m
+t1mapp/+util/sliceSpacing.m
+t1mapp/+util/useBundledElastix.m
+t1mapp/ConsoleReporter.m
+t1mapp/Constants.m
+t1mapp/Reporter.m
+t1mapp/defaultDisplayParams.m
+t1mapp/defaultFitParams.m
+t1mapp/defaultImportParams.m
+t1mapp/defaultRecoParams.m
+t1mapp/defaultRegParams.m
@t1Data/t1Data.m
functions/bart/WSLPathCorrection.m
functions/bart/bart.m
functions/bart/readcfl.m
functions/bart/writecfl.m
functions/export/niftii/dicm2nii.m
functions/export/niftii/dicm_dict.m
functions/export/niftii/dicm_hdr.m
functions/export/niftii/dicm_img.m
functions/export/niftii/dicm_save.m
functions/export/niftii/nii_tool.m
functions/export/niftii/nii_viewer.m
functions/export/niftii/nii_xform.m
functions/import/Get_mrd_3D4.m
functions/registration/registration_tools/code/changeParameterInElastixFile.m
functions/registration/registration_tools/code/elastix.m
functions/registration/registration_tools/code/elastixYAML2struct.m
functions/registration/registration_tools/code/elastix_paramStruct2txt.m
functions/registration/registration_tools/code/elastix_parameter_read.m
functions/registration/registration_tools/code/elastix_parameter_write.m
functions/registration/registration_tools/code/invertElastixTransform.m
functions/registration/registration_tools/code/mhd_read.m
functions/registration/registration_tools/code/mhd_read_header.m
functions/registration/registration_tools/code/mhd_read_volume.m
functions/registration/registration_tools/code/mhd_write.m
functions/registration/registration_tools/code/readTransformedPointsFile.m
functions/registration/registration_tools/code/readWholeTextFile.m
functions/registration/registration_tools/code/struct2varargin.m
functions/registration/registration_tools/code/transformix.m
functions/registration/registration_tools/code/updateTransformFileDirFields.m
functions/registration/registration_tools/code/validateElastixParam.m
functions/registration/registration_tools/code/writePointsFile.m
functions/unRing/unRing.m
functions/various/rotx.m
functions/various/roty.m
functions/various/rotz.m
gui/adapters/AppReporter.m
gui/adapters/gatherDisplayParams.m
gui/adapters/gatherFitParams.m
gui/adapters/gatherImportParams.m
gui/adapters/gatherRecoParams.m
gui/adapters/gatherRegParams.m
manual/T1mapp - manual.pages
